<h1 class="text-center font-bold py-2 text-gray-600">
    Can't log in to Trello?
</h1>
<div *ngIf="emailSent">
    <div class="flex justify-center py-4">
        <img loading="lazy" class="w-40" src="/assets/svg/check-email.svg" alt="check-email">
    </div>
    <p>We sent an email with a recovery link to you at </p>
    <p class="font-extrabold"></p>
</div>
<form *ngIf="!emailSent" [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="doSendEmail($event)">
    <div>
        <label for="username" class="block text-xs font-semibold my-2">We'll send you a recovery link to </label>
        <div class="relative">
            <input
                #nameInput
                type="email"
                id="username"
                formControlName="username"
                placeholder="Enter username"
                maxlength="50"
                class="w-full rounded bg-gray-100 border-gray-300 border-2">
        </div>
        <div *ngIf="form.controls.username.touched && form.controls.username.invalid">
            <p *ngIf="form.controls.username.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Username is required.
            </p>
            <p *ngIf="form.controls.username.hasError('email')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Username should be an email.
            </p>
            <p *ngIf="form.controls.username.hasError('minlength')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Username must contain at least 3 characters.
            </p>
        </div>
    </div>

    <div>
        <app-main-button
            [type]="'submit'"
            [colorStyle]="'success'"
            [loading]="status === 'loading'">
            Send Recovery Link
        </app-main-button>
    </div>
</form>