<h1 class="text-center font-bold py-2 text-gray-600">
    Set new password
</h1>
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="doRecovery($event)">
    <div>
        <div class="relative">
            <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                formControlName="newPassword"
                placeholder="Enter new password"
                maxlength="30"
                class="w-full rounded bg-gray-100 border-gray-300 border-2">
            <button type="button" class="p-2 absolute right-2" (click)="showPassword = !showPassword">
                <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
        </div>
        <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.invalid">
            <p *ngIf="form.controls.newPassword.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                New password is required.
            </p>
            <p *ngIf="form.controls.newPassword.hasError('minlength')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                New password must contain at least 8 characters.
            </p>
        </div>
    </div>

    <div>
        <div class="relative">
            <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                id="confirmPassword"
                formControlName="confirmPassword"
                placeholder="Confirm new password"
                maxlength="30"
                class="w-full rounded bg-gray-100 border-gray-300 border-2">
            <button type="button" class="p-2 absolute right-2" (click)="showConfirmPassword = !showConfirmPassword">
                <fa-icon [icon]="showConfirmPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
        </div>
        <div *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid">
            <p *ngIf="form.controls.confirmPassword.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
                Password is required.
            </p>
        </div>
    </div>

    <div *ngIf="form.controls.confirmPassword.touched" class="font-medium text-red-500 text-xs mt-1 ml-1">
        <p *ngIf="form.hasError('mismatch')">
            Passwords do not match.
        </p>
    </div>

    <div>
        <app-main-button
            [type]="'submit'"
            [colorStyle]="'success'"
            [loading]="status === 'loading'">
            Recover
        </app-main-button>
    </div>
</form>